<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="../js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/b20d558793.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="titlebar">
        <div class="app-name">
            <svg height="25" width="50">
                <text x="0" y="23" fill="#eeeeee">REMIR</text>
            </svg>              
        </div>
        <div class="buttons">
            <div data-minimize-btn class="minimize-btn btn">
                <svg height="15" width="30" viewBox="0 0 1000 1000">
                    <g><path fill="#eeeeee" d="M10,500L10,500c0-33.7,27.5-61.2,61.2-61.2h857.6c33.7,0,61.2,27.5,61.2,61.2l0,0c0,33.7-27.5,61.2-61.2,61.2H71.2C37.5,561.2,10,533.7,10,500z"/></g>
                </svg>
            </div>
            <div data-maximize-btn class="maximze-btn btn">
                <svg height="12" width="27" viewBox="0 0 1000 1000">
                    <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path fill="#eeeeee" d="M2711.7,3940.5V2895.8h758.6h758.6v286v286h2076.9h2076.9l-5-2069.4l-7.5-2071.9l-303.5-7.5l-305.9-7.5v-743.7v-746.2h1069.5H9900v3581.7v3581.7H6305.8H2711.7V3940.5z"/><path fill="#eeeeee" d="M100-1183.4v-3581.7h3581.7h3581.7v3581.7v3581.7H3681.7H100V-1183.4z M5766.1-1188.4l-7.5-2071.9l-2069.4-7.5l-2071.9-5v2076.9V881.1h2076.9h2076.9L5766.1-1188.4z"/></g></g>
                </svg>
            </div>
            <div data-close-btn class="close-btn btn">
                <svg height="12" width="27" viewBox="0 0 1000 1000">
                    <g><g><path fill="#eeeeee" d="M990,108.7L598.7,500L990,891.3L891.3,990L500,598.7L108.7,990L10,891.3L401.3,500L10,108.7L108.7,10L500,401.3L891.3,10L990,108.7z"/></g></g>
                </svg>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="addition-field">
            <input data-addition-input type="text" name="todo" id="todo" placeholder="Add item here...">
            <i data-add-button class="fa-solid fa-plus"></i>
        </div>
        <div data-todos-list class="todos">
            <!-- <div class="todo">
                <div class="todo-detail">
                    <div class="todo-text"></div>
                    <div class="todo-time"></div>
                </div>
                <div class="todo-delete">
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div> -->
        </div>
    </div>
</body>
</html>