@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*,
*::before,
*::after {
	user-select: none;
}


:root {
	--primary-color: #3da370;
	--light-color: #eeeeee;
	--dark-color: #2f2f2f;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--dark-color);
}

.titlebar {
	top: 0;
	width: 100%;
	height: 25px;
	display: flex;
	position: fixed;
	overflow: hidden;
	align-items: center;
	-webkit-app-region: drag;
	justify-content: space-between;
	background: var(--primary-color);
	box-shadow: 0px 3px 5px -2px black;
}

.app-name,
.buttons {
	-webkit-app-region: no-drag;
}

.app-name {
	font-size: 22px;
	margin-left: 3px;
	font-weight: bold;
	font-family: 'Square Peg', cursive;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.minimize-btn {
	margin-top: 3px;
}

.btn {
	height: 25px;
	cursor: pointer;
	padding-top: 6px;
}

.btn:hover {
	background: rgba(0, 0, 0, 0.1);
}

.close-btn:hover {
	background: red;
}

.content::-webkit-scrollbar {
	width: 12px;
}

.content::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--primary-color));
    border-radius: 6px;
}

.content::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 2px black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.content {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 100%;
	height: 100%;
	margin-top: 25px;
	background: var(--dark-color);
}

.addition-field {
	width: 350px;
	display: grid;
	margin-left: 50%;
	position: relative;
	place-items: center;
	transform: translateX(-50%);
}

.addition-field input {
	width: 310px;
	height: 40px;
	border: none;
	outline: none;
	font-size: 17px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 40px;
	background: var(--light-color);
	font-family: 'Open Sans', sans-serif;
}

.addition-field i {
	top: 17px;
	right: 3px;
	padding: 5px;
	cursor: pointer;
	font-size: 17px;
	transition: 300ms;
	position: absolute;
	border-radius: 3px;
	color: var(--light-color);
	background: var(--dark-color);
}

.addition-field i:hover {
	transform: scale(1.1);
}
